<form  class="form-inline">
  <div class="form-group">
      <input class="form-control mr-sm-2" type="search" placeholder="Enter Name" aria-label="Search" (input)="search($event.target.value)">
      <button class="btn my-2 my-sm-0" type="submit">Search</button>
  </div>
</form>
<div class="row mt-3">
  <div class="col-md-12">
      <div class="tableStyle">
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th> Member Name</th>
                      <th> Action</th>
                      <!-- <th> User Name</th> -->
                      
                  </tr>
              </thead>
              <tbody>
                
                  <tr *ngFor="let item of member_list; let i=index" >
                      <!-- <td>{{item.name}}</td> -->
                      <input  type="text" [value]="item.name" >
                      <button (click)="edit(item.name)"> Save</button>
                      
                  </tr>
                  <!-- <tr>
                    <button (click)="edit(item.i)"> Save</button>
                  </tr> -->

              </tbody>
          </table>
         
      </div>
  </div>
</div>
