<!-- <div class="row mt-3">
    <div class="col-md-12">
        <div class="tableStyle">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of member_list" >
                        <td>#{{item.name}}</td>
                        
                    </tr>

                </tbody>
            </table>
           
        </div>
    </div>
</div> -->
